body {
  background-image: url("/img/bay.jpg");
  font-family: 'Vollkorn', serif;
  width: 100%;
}

h2 {
  font-family: 'Lato', sans-serif;
}

#top {
  background-color: #1a4322;
  color: #bac6bc;
  margin: 0;
  padding: 25px 10px;
  width: 100%;
}


#top p {
  font-size: 1.25em;
  margin: 0 auto 1em auto;
  min-width: 300px;
  text-align: justify;
  width: 50%;
}

#top h2 {
  text-align: center;
  margin: 0 auto 1em auto;
  letter-spacing: 1px;
  min-width: 300px;
  width: 50%;
}

#top a {
  color: #42a957;
  text-decoration: none;
}

#top a:hover {
 color: #67ba78;
}

#search {
  display: block;
  margin: 2em auto 1em auto;
  font-size: 1.25em;
  width: 300px;
}

#search input[type='text'] {
  background-color: #bac6bc;
  padding: 10px;
  width: 65%;
}

#search button {
  border: 1px solid #373055;
  border-radius: 5px;
  background-color: #211a43;
  color: #79758e;
  margin-left: -.25em;
  padding: 12px 10px;
}

#search button:hover {
  background-color: #373055;
}

.status {
  background-color: #7f7f7f;
  color: #bac6bc;
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  padding: 20px 10px;
  text-align: center;
  width: 100%;
}

#success {
  background-color: #36a34b;
}

#failure {
  background-color: #555555;
}

#results {
  width: 100%;
}

.business {
  background-color: rgba(0,0,0,0.8);
  color: #bac6bc;
  margin: 2em auto;
  padding: 20px;
  width: 550px;
}

.business h2 {
  margin-top: 2.25em;  
}

.business p {
  font-size: 1.25em;
  margin: 0;  
}

.info {
  display: inline-block;
  height: 250px;
  margin-right: 2em; 
  vertical-align: top;
  width: 250px;
}

.map {
  border: 1px solid #bac6bc;
  display: inline-block;
  height: 250px;
  width: 250px;
}

/* Media Queries */
@media screen and (max-width: 600px) {

  .business {
    width: 250px;
  }

  .business h2 {
    margin-top: 1em;  
  }

  .info {
    text-align: center;
    height: 200px;
    margin-right: 0;
  }

}