<div class="container">
  <form id="search" action="/search" method="post">
    <input type="text" name="company" placeholder="Search by business name...">
    <input type="submit" value="search">
  </form>

  <div id="results">
    <!--Search results are appended here-->
  </div>
</div>
