<div id="top">
  <p><a href="http://www.greenbiz.ca.gov/AboutUsAC.html">Alameda county</a> certifies local businesses that conserve energy and water, minimize waste, and reduce their carbon footprints.</p>

  <h2>Find <a href="http://www.greenbiz.ca.gov/index.html">green certified</a> businesses by name</h2>

  <form id="search" action="/search" method="post">
    <input type="text" name="company">
    <button type="submit">search</button>
  </form>

  <div id="my-info">
    <a href="http://olmsted.io">John Olmsted</a> / <a href="https://github.com/qsymmachus/green-businesses">Github</a>
  </div>
</div>

<div id="results">
  <!--Search results are appended here-->
</div>
