<div class="container">
  <form action="/search" method="post">
    <input type="text" name="company" placeholder="Search by business name...">
    <input type="submit" value="search">
  </form>
</div>
