<div id="top">
  <p>Alameda county encourages local businesses to conserve energy and water, minimize waste, and reduce their carbon footprints. Businesses that meet these standards are <a href="http://www.greenbiz.ca.gov/index.html">"Green Certified"</a>.

  <h2>Find green certified businesses by name</h2>

  <form id="search" action="/search" method="post">
    <input type="text" name="company" placeholder="Search by business name...">
    <input type="submit" value="search">
  </form>
</div>

<div id="results">
  <!--Search results are appended here-->
</div>

